@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');

@import 'palette.css';
@import 'containers.css';
@import 'button.css';
@import 'logo.css';
@import 'navbar.css';

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Roboto Slab', 'Roboto', serif;
}