.navbar {
  padding: 10px;
  display: flex;
}

.navbar-separator {
  flex-grow: 2;
}

.navbar-container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
}

.navbar-filler {
  height: 60px;
}